/* Estilo Geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Estilo da Tabela */
table {
    width: 80%;
    margin: 0 auto 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

table th {
    background-color: #007bff;
    color: #fff;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

/* Botões de Ação */
.action-form button {
    background: none;
    border: none;
    cursor: pointer;
}

.action-link img {
    cursor: pointer;
}

.action-link:hover {
    background-color: #0056b3;
}

/* Navegação */
.navigation-buttons {
    margin-top: 20px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    transition: background-color 0.3s;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: #0056b3;
}

a:hover {
    background-color: #0056b3;
    
}